<div class="search-bar">
    <svg class="search-bar-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
    <input type="text" placeholder="@Placeholder" @bind="SearchTerm" @bind:event="oninput" @onkeyup="HandleKeyUp" />
</div>

@code {
    [Parameter] public string Placeholder { get; set; } = "Pesquisar...";
    [Parameter] public EventCallback<string> OnSearch { get; set; }
    
    private string _searchTerm = "";
    public string SearchTerm 
    { 
        get => _searchTerm; 
        set
        {
            if (_searchTerm != value)
            {
                _searchTerm = value;
                OnSearch.InvokeAsync(_searchTerm);
            }
        }
    }
    
    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await OnSearch.InvokeAsync(SearchTerm);
        }
    }
}
